body{
    background-image: url(https://images.pexels.com/photos/997723/pexels-photo-997723.jpeg?cs=srgb&dl=background-blog-coffee-997723.jpg&fm=jpg);
    background-size: cover;
    background-position: center;
    font-family: serif;
}
html{
    height: 100%;
}
.textheading{
    font-weight: 5000;
    font-size: 2rem;
    color:black;

}
h4{
    color: black;
    font-weight: 1000

}
#postblog label{font-weight: bold;font-size: 2rem}
#loginf{ 
    background-color: burlywood;
    padding:7px;
    border-radius:5px;
}

#signupf{display:none; background-color: burlywood;border-radius:5px;}
#postcontent{width:100%;}
#postcontent1{background-color:#cccccc;padding:7px;border-radius:5px;min-height:400px;display:none}